.flexColChild--main-details-mobile {
  width: auto;
  margin-bottom: 20px;
}

.flexColChild--content-main-center {
  padding-right: 20px;
}

.flexCol--main-details-mobile {
  margin: 0 -15px;
}

.flexRow--content-main-center {
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #fff;
}
.flexRowContent--product-essential {
  /* padding: 15px; */
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: -0.2px;
  width: 100%;
  max-width: 1440px;

  align-items: start;

  margin-bottom: 50px;
  background: #fff;
}

.flexCol--espesifi-item {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  max-width: 300px;
  margin-top: 25px;
}

.flexRowContent--cantidad-add {
  margin-top: 25px;
}


.flexRowContent--product__shelf {
  justify-content: center;
}


.flexRowContent--product__shelf:hover {
  transition: all 0.5s ease-in-out;
  border-bottom: 1px solid #ff6900;
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

.flexRow--info--data{

  padding: 5px 10px;
}

.flexRow--cantidad-add{
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  justify-content: center;
}


