.galleryItem {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;

}


.galleryItem :global(.vtex-button) {
  background-color: #332e80;
}

/* .flexColChild--title_category--portatil{
  flex: 0 1 24%;
} */

