.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  row-gap: 10px;
  column-gap: 10px;
}

.galleryItem {

}

.galleryItem :global(.vtex-button) {
  background-color: #332e80;
}

.gallery--general-grid{
  display: grid;
  margin-bottom: 30px;
  border: initial;
  border-bottom: 1px solid #e8e8e8;
}
