.container{
    /* margin-right: -20px; */
    margin-left: auto;
    width: auto;
   

  
}

.buttonLink {
    margin-right: -30px;
}

.container :global(.vtex-button__label){
    /* border-right: 1px solid white */
}

.profileIcon{
    color: #ff6900;
    margin-right: -10px;
 
}

.label{
    margin-right: -50px;
   color: white;
   padding: 0 5px;
    text-transform: none;
    border-right: 1px solid;
}

.profile{
  
    color: antiquewhite;
    margin: 3px;
    border-right: 1px solid white;
    padding: 0 5px;
}

.container :global(.vtex-button):focus,
.container :global(.vtex-button):hover {
  background-color: transparent;
}

