.newsletterForm--subscrib{
    margin-top: 50px;
    padding: 5px 10px;
    background-color: #332e80;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    display: flex;
    justify-content: space-around;
  
}

.emailInputContainer{
    width: 45%;
}


.formSubmitContainer{

}
