.container--home__one--title {
  background: #ff6900;
  color: aliceblue;
}

.paragraph--home__one--title-azul {
  color: #fff;
  margin: 5px;
  font-size: 0.8rem;
  letter-spacing: 5px;
  display: block;
}

.paragraph--parrafo-desktop {
  text-align: center;
  font-size: 1.5rem;
  margin: 20px 0;
  color: #7d7d7d;
}

.strong--parrafo-desktop {
  color: #332e80;
}

.strong--parrafo-mobile {
  color: #332e80;
}

.strong--texto-footer{
  font-weight: bold;
  color: #4ab2f1;
  
}

/* PRUPLE 1  */

.heading {
  color: #fff;
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  width: 100%;
  justify-content: flex-end;
}

.heading--header__content {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper--title--venta {
  padding: 0 10px;
  display: inline-flex;
  align-items: center;
  font-weight: 100;
}

.paragraph--texto-35 {
  color: #fff;
  text-align: center;
  margin: 5px;
  font-size: 11.2px;
  letter-spacing: 5px;
  display: block;
}

.wrapper--texto-item {
  color: #fff;
  padding-left: 20px;
  text-align: left;
  font-size: 12px;
  margin-left: -60px;
}

.heading--title--cambiar {
  display: block;
  padding: 3px 5px;
  border-radius: 5px;
  background-color: #06005b;
  font-weight: 100;
  cursor: pointer;

}

.heading--title--cambiar:hover{
  color: #ff6900;
}

.paragraph--texto-item1 {
  color: #fff;
  text-align: left;
  font-size: 12px;
  margin-left: -75px;
}

.paragraph--spacer {
  min-width: 328px;
}

.paragraph{

}


/*================================= VENTA */

.heading--title--venta{
  padding: 0 10px;
    border-right: 1px solid #fff;
    display: inline-flex;
    align-items: center;
    font-weight: 100;
}

.heading--header__item{
  padding: 0 10px;
    border-right: 1px solid #fff;
    display: inline-flex;
    align-items: center;
    margin-left: -5px;
    font-weight: 100;
}

.paragraph--footer-block-informacion{
  font-weight: bold;
    font-size: 20px;
    line-height: 15.2px;
    text-align: left;
    color: #332e80;
}



.container--info-recibe{
  
}

.wrapper--info-recibe{
  color: #fff;
  font-size: 20px
}

.strong--info-recibe{
  color: #ff6900;
}

