
.itemContainer--departmen {
    background-color: #332e80;
}
.section--department {
    background :none
}

.container {
 background: none;
}

.departmentLink {
    font-size: 1.1em;
    color: white;
}