.searchBarContainer{
  
}

.container{
  
  
}

.logoImage{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* .searchBarContainer{
    width: 100%;
    color: yellow;
} */

.logoContainer--logo-header-main{
    width:20%;
}

.imageElement--image-item-orange{
     margin-left: -70px;
}

.imageElement--image-item-orange2{
  
    margin-left: -115px;
}






