
.container {
  
background: transparent;
display: flex;
}



.itemContainer {

}

.itemContainer--category {
  background-color: rgb(255, 255, 255);
  top: 148px;
 

}


.vtex-category-menu-2-x-itemContainer :global(.vtex-category-menu-2-x-itemContainer--category){
    top: 148;
}

.itemContainer--department {
   
}

.section--department {
 
}

.departmentLink{
    font-size: 1.1em;
    color: white;
}
.section--department {
    background :none
}

.container {
 background: none;
}

.departmentLink {

    font-size: 1.1em;
    color: white;
}