.newsletterForm--subscrib{
    margin-top: 50px;
    padding: 5px 10px;
    background-color: #332e80;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    display: flex;
    justify-content: space-around;
  
}

.emailInputContainer{
    width: 45%;
}


.formSubmitContainer{

}

.newletter-submit{
    background: yellow;
}


.formSubmitContainer :global(.vtex-button){
    background: #ff6900;
    border: 1px solid #ff6900;
    color: #fff;
    margin-left: 5px;
    font-size: .9em;
    padding: 5px;
}

.defaultSuccessMessage--subscrib{
    display: flex; 
     justify-content: center;
     font-weight: bold;
     font-size: 30px;
     line-height: 15.2px;
     text-align: left;
     color: #332e80;
}