.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  row-gap: 10px;
  column-gap: 10px;
}

.galleryItem :global(.vtex-button) {
  background-color: #332e80;
}

.gallery--general-grid {
}

.galleryLayoutSwitcher {
  margin-left: 460px;
}

.gallery--grid {
}

.galleryItem--list {
  max-width: 0%;
}

.galleryLayoutOptionButton--grid {
  width: 40px;
  height: 40px;
  margin: 0 15px;
  padding: 0;
  background: url(https://frontier.com.co/scripts/dist/imgs/view-list.svg);
}

.galleryLayoutOptionButton--grid--selected {
  width: 40px;
  height: 40px;
  margin: 0 15px;
  padding: 0;
  background: url(https://frontier.com.co/scripts/dist/imgs/view-list-active.svg);
}

.galleryLayoutOptionButton--list {
  width: 40px;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 40px;
  margin: 0 15px;
  padding: 0;
  background: url(https://frontier.com.co/scripts/dist/imgs/view-grid.svg);
}

.galleryLayoutOptionButton--list--selected {
  width: 40px;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 40px;
  margin: 0 15px;
  padding: 0;
  background: url(https://frontier.com.co/scripts/dist/imgs/view-grid-active.svg);
}

.gallery--list {
  flex-direction: column;
}

.gallery--grid {
}

.vtex-search-result-3-x-container--layout {
 
}

.container--layout {
 
}

.galleryLayoutSwitcher--pl-main__grid-filter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.galleryItem--normal {
}

.vtex-search-result-3-x-galleryItem :global(.vtex-search-result-3-x-gallery--list) {
    flex-basis: 100%;
    max-width: 100%;
    background-color: aqua;
}

.galleryItem--list {



}
