.flexRow {
  display: grid;
  margin: -5px auto;
  width: 100%;
  grid-gap: 10px;
}

.flexRow--header_main-purple--upper,
.flexRow--header_main-purple--info {
  background: #332e80;
}

.flexRow--main_header-orange {
  background-color: #ff6900;
}

.flexRow--header__info {
  font-size: 13px;
  width: 100%;
  justify-content: flex-end;
}

.flexRow--title__category-- {
  text-align: left;
  font-size: 1.3rem;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.flexRowContent--home__section--portatil {
  grid-gap: 10px;
}

.flexCol--header__info {
  font-family: "Roboto";
  height: auto;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.flexRowContent--header__info-main {
  margin-right: 25px;
  margin-left: auto;
  width: auto;
  margin-top: 5px;
}

.stretchChildrenWidth {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.flexRow--header_main-purple--upper {
  max-width: 1120px;
}

.flexRowContent--main_header-orange {
  max-width: 1070px;
  margin: 0 auto;
  white-space: nowrap;
}

.flexColChild--header_orange-item3 {
  margin-top: 10px;
}

.flexRowContent--main_header-purple3 {
  margin-left: -16px;
}

.flexCol--header_orange-item1 {
  border-right: 1px solid;
  color: white;
}

.flexRow--footer-container-main {
  background-color: #fff;
  text-align: center;
  border-top: 1px solid #c1c1c1;
}
.flexRowContent--footer-container-main {
  display: flex;
  flex-direction: row;
}
.imageElement--home__slider {
  padding-top: 5px;
}

.flexRowContent--product__shelf:hover {
  transition: all 0.5s ease-in-out;
  border-bottom: 1px solid #ff6900;
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

.flexColChild--title_category--portatil {
  width: 100%;
}

.flexRowContent--product__shelf {
  justify-content: center;
}

/* product details */

.flexRow--search__results {
}

.flexColChild--main-details {
  margin: 9px 290px;
  height: 100%;
  margin: 10px 100px;
}

.flexColChild--main-text {
  text-align: left;
  margin-top: -19px;
}

.flexRow--content-main-center {
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #fff;
}
.flexRowContent--product-essential {
  /* border: 5px solid red; */
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: -0.2px;
  width: 100%;
  max-width: 1440px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  padding: 10px;
  margin-bottom: 50px;
  background: #fff;
}

.flexCol--espesifi-item {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  max-width: 300px;
  /* border: solid 1px red; */
}

.flexRowContent--cantidad-add {
  margin-top: 25px;
  /* border: 3px solid red; */
}

/* 
RESULTS PLP */

.flexRow--search__results-container {
  display: grid;
  grid-template-columns: 230px 1fr;
  max-width: 1050px;
  margin: 25px auto;
  padding: 0 10px;
}

.flexColChild--search__results--filter {
  padding: 10px;
  margin-left: -100px;
}

.gallery--general-grid {
  background-color: #ff6900;
}
