.brandName{
    font-size: x-large;
}
.SKUSelectorContainer{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.image{
    width:200px;
    height:200px;

}

/* PLP */

.element--pl-main__grid {
    border: 1px solid #e8e8e8;
    padding: 0.9em;
    width: 100%;
}

