.searchBarContainer {
  border-radius: 0 17px 17px 0;
  border: 1px;
}

.searchIcon {
  color: #b7b2b2;
}

.logoImage {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logoContainer--logo-header-main {
  width: 100%;
}

.imageElement--image-item-orange {
  margin-left: -70px;
}

.imageElement--image-item-orange2 {
  margin-left: -115px;
}

.imageElement--home__slider-mobile {
  padding-top: 5px;
}

.imageElement--home__section--ofertas {
  height: 164px;
  padding-top: 10px;
  overflow: hidden;
}
.imageElement--home__section--ofertas-mobile {
  padding-top: 4px;
  padding-bottom: 14px;
}

.imageElement--home__section--ofertas:hover {
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(1);
  transform: scale(1.01);
}

.imageElement--text-item-bot {
  margin-left: -38px;
}

.headerRowContentContainer {
  background-color: #332e80;
}

.searchBarContainer {
  padding: 0 10px;
}

.searchBarContainer :global(.vtex-input__suffix) {
  border-right: 1px solid rgb(155, 155, 155);
  margin: -25px;
  background: #fff;
}

.searchBarContainer :global(.vtex-input-prefix__group) {
  border-radius: 6px;
  width: 100%;
  height: 30px;
  max-height: 40px;
  padding-left: 20px;
  padding-right: 50px;
  box-shadow: 0 0 33.6px 8.4px rgb(0 0 0 / 15%);
  background-size: 17px;
  background-color: #fff;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: -0.7px;
  text-align: left;
  color: #899a9e;
  transition: 0.3s;
}

.shareLabel {
  display: none;
}
.imageElement--image-nofound {
  width: 370px;
  height: 286px;
  display: block;
  margin: auto;
  margin-top: -18px;
}

.productImageTag--main {
  margin-left: -88px;
  padding: 5px 10px;
}

.productImage {
  width: 415px;
}

.productImagesGallerySlide {
  width: none;
}

.sellingPriceContainer {
  font-size: 30px;
  margin: 0;
  border-bottom: 1px solid rgba(77, 77, 77, 0.71);
}

.sellingPrice {
  font-size: 30px;
  margin: 0;
  font-weight: bold;
  letter-spacing: -1.2px;
  text-align: left;
  padding-bottom: 10px;
  color: #332e80;
}

.imageElement--logo-delivery {
  margin-left: -150px;
}

/* SLIDER */

.swiperPaginationClickable {
  display: none;
}

.carouselGaleryThumbs {
  display: none;
}

.productImagesGallerySwiperContainer {
  width: 350px;
  position: relative;
  text-align: center;
  display: flex;
}

.searchResultContainer {
  background-color: black;
}

.vtex-category-menu-2-x-section--department {
  margin-right: -115px;
  background-color: transparent;
}

.productNameContainer--title-main {
  margin: 0 0 25px;
  border-bottom: 1px solid #ddd;
  padding: 0 0 10px;
}

.currencyContainer {
  font-size: 30px;
  margin: 0;
}

.imageElement--image-banner-desktop {
  margin-bottom: 40px;
}
