.paginationDotsContainer{
    height: 5%;
    color: black;
}
.paginationDot--home__slider{
    background-color: #4b4a4abd;
}

.paginationDot--isActive{
    background-color: #000000bd;
}

.caretIcon--home__slider {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: rgb(0, 0, 0);
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
 
}

