.trigger--hidden{
    background: none;
    border: none;
    align-items: center;
    display: flex;
    border: 1px red solid
}
.trigger{
    background: none;
    border: none;
    margin-top: -11px;
  
}

.content--visible{
    margin: 0 0 20px;
    padding: 10px 15px;
}