
.headerRowContainer--header__purple1 {
    color: #fff;
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    width: 100%;
    justify-content: flex-end;
    margin: 7px 0;
}

.flexCol--color_letra {
    color: white;
}

.headerRowContainer--header__35{
  
    justify-content: center;
    background: #332e80;
}
/* 
.header-row#mobile__header--upper{
    background: #332e80;
}
 */
.headerRowBackground{
    background: #332e80;
}
