.headerRowBackground--header__purple1 {
    background-color: #f10000;
    /* color: #737373; */
}

.headerRowContainer--header__purple1 {
    color: #fff;
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    width: 100%;
    justify-content: flex-end;
    margin: 7px 0;
}

.flexCol--color_letra {
    color: white;
}